{% if data %}

{# default data if not filled in #}
{% set color = data.color ?? '' %}
{% set icon = data.icon ?? 'bi-people' %}
{% set amount = data.amount ?? 'no data' %}
{% set text = data.text ?? 'no data' %}

<div class="col-lg-3 col-md-6">
    <div class="count-box">
        <i class="bi {{icon}}" style="color: {{color}};"></i>
        
        <div>
        <span data-purecounter-start="0" data-purecounter-end="{{amount}}" data-purecounter-duration="1" class="purecounter"></span>
        <p>{{text|t}}</p>
        </div>
    </div>
</div>

{% endif %}