{% extends "_layouts/site" %}

{% block content %}
<article class="section">
    <div class="content-column content-column--narrow">
        <h1 class="centered">{{ entry.title }}</h1>

        {{ entry.richText }}
    </div>
</article>
{% endblock %}