{% extends "_layouts/site" %}

{% block content %}
<section class="inner-page">
    <div class="container">
    <p>
                <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>Contact</h2>
              <p>Contact Us</p>
            </header>

            <div class="row gy-4">

              <div class="col-lg-6">

                <div class="row gy-4">

                  {% for contactBlock in contactInfo.contactBlocks.all() %}
                    {% include "_includes/components/contactBlock.twig" with {
                      data: {
                        icon: contactBlock.icon,
                        title: contactBlock.contactBlockTitle,
                        text: contactBlock.contactBlockContent
                      }
                    } %}
                  {% endfor %}

                  

                </div>

              </div>

              <div class="col-lg-6">

                {{ craft.freeform.form("contactForm").render() }}

              </div>

            </div>

          </div>

        </section><!-- End Contact Section -->
    </p>
    </div>
</section>
{% endblock %}